.container() {
  width: @screen-mobile - @padding-inner-mobile * 2;
  padding-left: @padding-inner-mobile;
  padding-right: @padding-inner-mobile;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @screen-tablet) {
    width: @screen-tablet - @padding-inner-tablet * 2;
    padding-left: @padding-inner-tablet;
    padding-right: @padding-inner-tablet;
  }

  @media (min-width: @screen-desktop) {
    width: @screen-desktop - @padding-inner-desktop * 2;
    padding-left: @padding-inner-desktop;
    padding-right: @padding-inner-desktop;
  }
}
