.style-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
}

.container() {
  width: 260px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @screen-tablet) {
    width: 668px;
  }

  @media (min-width: @screen-desktop) {
    width: 1050px;
  }
}

.visually-hidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// Эта примесь добавляет декоративную полоску
// в заголовке полей формы на мобильных разрешениях
.decor-line() {

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    width: 200px;
    height: 1px;
    background-color: @aqua;
  }

  @media (min-width: @screen-tablet) {

    &::after {
      content: normal;
      width: 0;
      height: 0;
      background-color: transparent;
    }
  }
}
