// Цвета
@black:                            #000000;
@white:                            #ffffff;
@gray:                             #444444;
@aqua:                             #63d1bb;

@text-color:                       @gray;
@text-color--dark:                 @black;
@text-color--light:                @white;

//Временно пока нет стайлгайда
@link-color:                       @gray;
@link-color--hover:                red;
@link-text-decoration:             none;
@link-text-decoration--hover:      underline;

// Базовая типографика (скорее всего будет меняться)
@font-family:                      "OpenSans", "Arial", sans-serif;
@font-size:                        15px;
@line-height:                      30px;


//контрольный точки размеров буду позже
@padding-inner:             30px; // УДАЛИТЬ!!!
@padding-inner-mobile:             30px;
@padding-inner-tablet:             50px;
@padding-inner-desktop:            50px;
@screen-mobile:                    320px;
@screen-tablet:                    768px;
@screen-desktop:                   1150px;
