// Цвета
@black:                            #000000;
@white:                            #ffffff;
@gray-98:                          #f9f9f9;
@gray-95:                          #f1f1f1;
@gray-93:                          #ececec;
@gray-27:                          #444444;
@aqua:                             #63d1bb;
@darkaqua:                         #56c3b2;

@text-color:                       @gray-27;
@text-color--dark:                 @black;
@text-color--light:                @white;

//Временно пока нет стайлгайда
@link-color:                       @gray-27;
@link-color--hover:                red;

// Базовая типографика
@font-family:                      "OpenSans", "Arial", sans-serif;
@font-size:                        15px;
@line-height:                      30px;


// Размеры макетов и отступы
@padding-inner-mobile:             30px;
@padding-inner-tablet:             50px;
@padding-inner-desktop:            50px;
@screen-mobile:                    320px;
@screen-tablet:                    768px;
@screen-desktop:                   1150px;
