.social-link {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
  position: relative;

    svg {
      position: absolute;
    }

  &:hover {
    fill: @lightaqua;
  }

  &:active {
    opacity: 0.3;
  }

  &--instagram {
    svg {
      top: 15px;
      left: 16px;
    }
  }

  &--facebook {
    svg {
      top: 11px;
      left: 19px;
    }
  }

  &--twitter {
    svg {
      top: 15px;
      left: 15px;
    }
  }
}
