.button {
  .center-block();
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  padding: 10px;
  border: 2px solid @gray;
  text-align: center;
  font-weight: @font-weight--bold;
  background-color: #ffffff;
  width: auto;
}
