.catalog {
  padding: 20px 0;
}
.catalog__inner {
  .container();
  outline: 2px dashed red;
  @media (min-width: @screen-desktop) {
    display: flex;
    justify-content: space-between;
    }
}
.catalog__title {
  font-size: 0;
  display: none;
}
