.catalog {
  padding-top: 30px;

  @media (min-width: @screen-tablet) {
    padding-top: 90px;
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/bg-zigzag-fill.svg");
    background-position: left top;
    background-size: 775px 25px;
    margin-top: -10px;
    position: relative;
    z-index: 2;
  }

  @media (min-width: @screen-desktop) {
    padding-top: 150px;
    background-size: 1150px 40px;
    margin-top: -26px;
    margin-bottom: 55px;
  }
}

.catalog__inner {
  .container();

  @media (min-width: @screen-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__title {
  .visually-hidden();
}
