.contacts {
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px;
}

.contacts__inner {
  .container();

  @media (min-width: @screen-desktop) {
    width: 350px;
    padding-right: 525px;
    padding-left: 175px;
  }
}

.contacts__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.667em;
  color: @text-color--dark;

  @media (min-width: @screen-tablet) {
    font-size: 43px;
    line-height: 1.163em;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 46.68px;
    	height: 81.691px;
      background-image: url("../img/sprite.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  @media (min-width: @screen-desktop) {
    font-size: 53px;
    line-height: 1.075em;

    &::after {
      left: -100px;
    }
  }
}

.contacts__table {
  font-size: 15px;
  line-height: 2em;

  @media (min-width: @screen-desktop) {
    font-size: 17px;
    line-height: 1.765em;
  }

  @media (min-width: @screen-tablet) and (max-width: (@screen-desktop - 1px)) {
    display: block;
    font-size: 17px;
    line-height: 1.765em;

    tbody {
      display: flex;
    }
  }
}

.contacts__table-parameter {
  width: 78px;
  padding: 0;
  vertical-align: top;

  @media (min-width: @screen-tablet) and (max-width: (@screen-desktop - 1px)) {
    display: table-cell;
  }

  @media (min-width: @screen-desktop) {
    height: 50px;
  }
}

.contacts__table-value {
  padding: 0;
  vertical-align: top;

  @media (min-width: @screen-tablet) and (max-width: (@screen-desktop - 1px)) {
    display: table-cell;
    width: 256px;
  }
}

.contacts__writeus {

  @media (min-width: @screen-tablet) {
    width: 190px;
  }

  @media (min-width: @screen-desktop) {
    width: 190px;
    margin-top: 80px;
    margin-left: 0;
  }
}
