.features {
  background-color: white;
  //для наглядности, потом удалить!


  padding: 20px 0;
}
.features__inner {
  .container();
  outline: 2px dashed red;
}

.features__title {
  font-size: 25px;
  line-height: 30px;
  color: @text-color--dark;
  font-weight: @font-weight--bold;
}

.features__list {
  .style-reset();
  @media (min-width: @screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.features__list-item {
  padding: 40px 0;
  font-size: 17px;
  line-height: normal;
  font-weight: @font-weight--bold;
  @media (min-width: @screen-tablet) {
    width: 200px;
  }
}
