.features {
  background-color: white;
  //для наглядности, потом удалить!


  padding: 20px 0;
}
.features__inner {
  .inner();
}

.features__title {
  font-size: 25px;
  line-height: 30px;
  color: @text-color--dark;
  font-weight: @font-weight--bold;
}

.features__list {
  .style-reset();
}

.features__list-item {
  padding: 40px 0;
  font-size: 17px;
  line-height: normal;
  font-weight: @font-weight--bold;
}
