.features {
  padding: 20px 0;
}

.features__inner {
  .container();
  outline: 2px dashed red; // временно для удобства
}

.features__title {
  font-size: 25px;
  line-height: 30px;
  color: @text-color--dark;
  font-weight: 700;
}

.features__list {
  .style-reset();
  @media (min-width: @screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.features__list-item {
  padding: 40px 0;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  @media (min-width: @screen-tablet) {
    width: 200px;
  }
  @media (min-width: @screen-desktop) {
    width: 350px;
  }
}
