.field-textarea {
  position: relative;
  margin-bottom: 20px;
  padding-top: 30px;
  font: inherit;
  font-weight: 700;
  color: @text-color--dark;

  textarea {
    padding: 15px;
    font-size: 17px;
    line-height: 18px;
    border: 2px solid @gray-27;
    resize: none;
    outline: none;
  }
}

.field-textarea__title {
  .decor-line();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @aqua;
  text-transform: uppercase;
  margin-bottom: 20px;
}
