.field-checkbox {
  font: inherit;
  font-weight: 700;
  color: @text-color--dark;

  @media (min-width: @screen-tablet) {
    background-color: @gray-95;
  }
}

.field-checkbox__inner {
  .container();
  position: relative;
  padding-left: 62px;
  width: 198px;
  padding-top: 50px;

  @media (min-width: @screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 419px;
    padding-left: 249px;
  }

  @media (min-width: @screen-desktop) {
    width: 620px;
    padding-left: 255px;
    padding-right: 175px;
  }
}

.field-checkbox__title {
  .decor-line();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 0.941em;
  color: @aqua;
  text-transform: uppercase;

  @media (min-width: @screen-tablet) {
    top: 40px;
  }
}

.field-checkbox__wrapper {
  display: block;
  padding-bottom: 43px;

  @media (min-width: @screen-tablet) {
    width: 200px;
  }

  @media (min-width: @screen-desktop) {
    width: 250px;
  }
}
