.main-menu {
  display: block;
  box-sizing: border-box;
  width: 100%;
  // position: absolute;
  background-color: rgba(255,255,255,0.5);  //прозрачный фон для открытого меню для удобства

  @media (min-width: @screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  // @media (min-width: @screen-desktop) {
  //   justify-content: space-between;
  // }
}

.main-menu--show {
  display: block;
}

.main-menu__aux-menu {
  .style-reset();
  display: none;

  @media (min-width: @screen-desktop) {
    display: flex;
    order: 2;
  }
}

.main-menu__logo {
  display: block;
  width: 300px;

  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.main-menu__list {
  .style-reset();

  @media (min-width: @screen-tablet) {
    display: flex;
    flex-shrink: 0;
    order: 1;
  }

  @media (min-width: @screen-desktop) {
    flex-wrap: wrap;
    order: -1;
    width: 400px;
  }
  // @media (min-width: @screen-desktop) {
  //   position: static;
  // }
}

.main-menu__list-item {
  outline: 1px dashed red; // временно для удобства
}

.main-menu__link {
  display: block;
  padding-top: 20px;
  padding-right: @padding-inner-mobile;
  padding-bottom: 20px;
  padding-left: @padding-inner-mobile;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.411em;
  text-align: center;
  color: @text-color--dark;
  border-bottom: 1px solid @gray-93;

  @media (min-width: @screen-desktop) {
    padding-right: 0;
    padding-left: 0;
  }
}
