.main-menu {
  position: relative;

  @media (min-width: @screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


.main-menu__logo {
  display: flex;
  text-align: center;
  border-top: 1px solid @gray-93;
  min-height: 78px;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    max-height: 78px;
    max-width: 100%;

    @media (min-width: @screen-tablet) {
      max-height: none;
    }
  }

  @media (min-width: @screen-tablet) {
    flex-grow: 1;
    text-align: left;
    border-top: none;
    align-self: center;
    padding: 0;
  }

  @media (min-width: @screen-desktop) {
    text-align: center;
  }
}

.main-menu__list {
  .style-reset();

  @media (min-width: @screen-tablet) {
    display: flex;
    flex-shrink: 0;
    order: 1;
  }

  @media (min-width: @screen-desktop) {
    flex-wrap: wrap;
    order: -1;
    width: 400px;
  }
}

.main-menu__link {
  display: block;
  padding: 28px 75px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.411em;
  color: @text-color--dark;
  border-bottom: 1px solid @gray-93;

  @media (min-width: @screen-tablet) {
    width: 167px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0;
    font-size: 15px;
    line-height: 1.6em;
    border-bottom: none;
  }

  @media (min-width: @screen-desktop) {
    font-size: 17px;
    line-height: 1.411em;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--active {

    &:hover {
      color: @text-color--dark;
    }
  }
}

// тут задается рамка сверху у первого элемента меню
.main-menu__list-item:first-child {

  .main-menu__link {
    padding-bottom: 27px;
    border-top: 1px solid @gray-93;

    @media (min-width: @screen-tablet) {
      padding-bottom: 20px;
      border-top: 0;
    }

    @media (min-width: @screen-desktop) {
      padding-bottom: 30px;
      border-top: 0;
    }
  }
}

.main-menu__aux-menu {
  .style-reset();
  display: none;

  @media (min-width: @screen-desktop) {
    display: flex;
    order: 2;
  }

  .main-menu__link {

    @media (min-width: @screen-desktop) {
      width: 175px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 15px;
      line-height: 1.6em;
    }
  }
}

.main-menu__shipment {
  display: none;

  @media (min-width: @screen-tablet) {
    display: block;
    order: 3;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 1.6em;
  }
}

.main-menu__toggler {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 9;
  width: 90px;
  height: 60px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  outline: none;
  outline: 1px dashed red;
  cursor: pointer;

  @media (min-width: @screen-tablet) {
    display: none;
  }
}

// Условия только для мобильных разрешений
@media (max-width: (@screen-tablet - 1px)) {

  .main-menu--closed {

    .main-menu__toggler {
      background-image: url("../img/icon-menu-open.svg");
      background-position: center center;
    }

    .main-menu__list {
      display: none;
    }

    .main-menu__user-list {
      display: none;
    }
  }

  .main-menu--opened {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .main-menu__toggler {
      background-image: url("../img/icon-menu-close.svg");
      background-position: center center;
    }

    .main-menu__list {
      display: block;
      background-color: @white;
    }

    .main-menu__user-list {
      display: block;
      background-color: @white;
    }
  }

  // релизует постоянное открытие меню при отключенном js
  .main-menu--no-js {
    position: static;

    .main-menu__list {
      display: block;
    }

    .main-menu__user-list {
      display: block;
    }

    .main-menu__toggler {
      display: none;
    }
  }
}
