.order-form {
  padding: 20px 0;
  font-size: 17px;
  line-height: 18px;
}

.order-form__inner {
  .container();
  outline: 2px dashed red; // временно для удобства
}

.order-form__description {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 24px;
}

.order-form__type {
  .style-reset();
  position: relative;
  margin-bottom: 20px;
  padding-left: 60px; /// добавить этот отступ в переменные (после новых макетов)
  font-weight: 700;
  color: @text-color--dark;
}

.order-form__color {
  .style-reset();
  position: relative;
  margin-bottom: 20px;
  padding-left: 60px;
  font-weight: 700;
  color: @text-color--dark;
  // обдумать вариант разметки, предложенный наставником.
  p {
    margin-bottom: 30px;
  }
}

.order-form__fullname {
  .style-reset();
  position: relative;
  margin-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  color: @text-color--dark;
}

.order-form__requirement-text {
  font-size: 14px;
  line-height: 1.2;
}
