.our-production {
  margin-bottom: 40px;
}

.our-production__inner {
  .container();

  @media (min-width: @screen-tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @screen-desktop) {
    position: relative;
    width: 368px;
    min-height: 455px;
    padding-left: 682px;
  }
}

.our-production__title-wrapper {
  padding: 25px;
  padding-right: 33px;
  padding-left: 90px;
  border: 1px solid @gray-93;

  @media (min-width: @screen-tablet) {
    border-bottom: none;
  }

  @media (min-width: @screen-desktop) {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

.our-production__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.412em;
  color: @text-color--dark;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
  	height: 32px;
    background-position: 70.75% 70.71240105540898%;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
    top: -40px;
    left: 0;
  }

  @media (min-width: @screen-tablet) {
    font-size: 20px;
    line-height: 1.2em;
  }

  @media (min-width: @screen-desktop) {
    margin-top: auto;
  }
}

.our-production__video {

  video {
    display: block;
    width: 100%;
    height: 100%;
    background-color: @gray-78; // временно пока нет видео
  }

  @media (min-width: @screen-tablet) {
    order: -1;
    width: 668px;
    height: 455px;
  }

  @media (min-width: @screen-desktop) {
    position: absolute;
    left: 0;
    width: 682px;
    height: 455px;
  }
}

.our-production__text-wrapper {
  padding: 30px 33px;
  border: 1px solid @gray-93;
  border-top-width: 0;

  @media (min-width: @screen-tablet) {
    padding-right: 42px;
    padding-left: 42px;
  }

  @media (min-width: @screen-desktop) {
    margin-top: auto;
  }
}

.our-production__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 1.846em;

  @media (min-width: @screen-tablet) {
    font-size: 15px;
    line-height: 2em;
  }
}
