.our-production {
  padding: 20px 0;
}

.our-production__inner {
  .container();
  outline: 2px dashed green; // временно для удобства
}

.our-production__video {
  display: block;
  width: 100%;
  height: auto;
}

.our-production__wrapper {
  padding: 10px 27px;
  border: 1px solid @gray-93;
}

.our-production__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}
