.our-production {
  padding: 20px 0;
  video {
    display: block;
    width: 100%;
    height: auto;
  }
}

.our-production__inner {
  .container();
  outline: 2px dashed green;
}
.our-production__wrapper {
  border: 1px solid #ececec;
  padding: 10px 27px
  // padding-left: 27px;
  // padding-right: 27px;
}
.our-production__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}
