.page-footer {
  background-color: #f1f1f1;
  //для наглядности, потом удалить!
  padding: 20px 0;
}

.page-footer__inner {
  .inner();
}

.page-footer__copyright {
  font-size: 18px;
  line-height: 19px;
  color: @text-color--dark;
  font-weight: @font-weight--bold;
}

.page-footer__copyright-link {
  .visually-hidden();
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 35px;
  background-color: red;
}
