.page-menu {
  background-color: @gray-98;
}

.page-menu__inner {
  .container();

  @media (max-width: (@screen-tablet - 1px)) {
    width: @screen-mobile;
  }
}

.page-menu__links-list {
  .style-reset();

  @media (min-width: @screen-tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.page-menu__links-item {

  @media (min-width: @screen-tablet) {
    width: 50%;
  }
}

.page-menu__link {
  display: block;
  padding-top: 25px;
  padding-right: 160px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.263em;
  color: @text-color--light;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 240px center;

  @media (min-width: @screen-tablet) {
    padding-top: 30px;
    padding-right: 167px;
    padding-bottom: 30px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 1.5em;
  }

  @media (min-width: @screen-desktop) {
    padding-top: 30px;
    padding-right: 350px;
    padding-bottom: 30px;
    padding-left: 40px;
    background-position: 450px 30px;
  }

  &:hover {
    color: @text-color--light;

    @media (min-width: @screen-tablet) {
      padding-top: 25px;
      padding-bottom: 35px;
    }
  }

  &:active {
    color: fade(@text-color--light, 30%);
  }

  &--interior {
    background-color: @aqua;
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-uri/icon_page-menu_interior.svg");

    &:hover {
      background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-uri/icon_page-menu_interior--hover.svg");

      @media (min-width: @screen-tablet) {
        box-shadow: 0 -5px 0 0 @aqua;
        background-position-y: 25px;
      }
    }

    &:active {
      background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-uri/icon_page-menu_interior--active.svg");
    }
  }

  &--toys {
    background-color: @darkaqua;
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-uri/icon_page-menu_toy.svg");

    &:hover {
      background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-uri/icon_page-menu_toy--hover.svg");

      @media (min-width: @screen-tablet) {
        background-position-y: 25px;
        box-shadow: 0 -5px 0 0 @darkaqua;
      }
    }

    &:active {
      background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-uri/icon_page-menu_toy--active.svg");
    }
  }
}
