.page-header {
  min-height: 35px;
  padding-bottom: 20px;
}

.page-header__inner {
  .container();
  position: relative;
  outline: 2px dashed green; // временно для удобства

  @media (max-width: (@screen-tablet - 1px)) {
    width: @screen-mobile;
    padding-right: 0;
    padding-left: 0;
  }
}
