.page-header {
  min-height: 79px;
}

.page-header__inner {
  .container();
  position: relative;

  @media (max-width: (@screen-tablet - 1px)) {
    width: @screen-mobile;
    padding-right: 0;
    padding-left: 0;
  }
}
