.page-footer {
  padding-bottom: 15px;
  background-color: @gray-95;

  @media (min-width: @screen-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.page-footer__inner {
  .container();

  @media (min-width: @screen-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;
  width: 200px;

  img {
    display: block;
  }

  @media (min-width: @screen-tablet) {
    display: block;
  }
}

.page-footer__copyright {
  margin: 0;
  padding-top: 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 0.947em;
  text-align: center;
  color: @text-color--dark;

  @media (min-width: @screen-tablet) {
    padding-top: 0;
  }
}

.page-footer__copyright-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 0;
  vertical-align: middle;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
