.product-of-the-week {
  padding-top: 27px;
  padding-bottom: 40px;
  border-bottom: 1px solid @gray-93;

  @media (min-width: @screen-tablet) {
    padding-top: 50px;
    padding-bottom: 60px;
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/bg-zigzag-fill.svg"),
                      data-uri("image/svg+xml;charset=UTF-8", "../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: left top, left bottom;
    margin-top: -20px;
    position: relative;
    z-index: 2;
  }

  @media (min-width: @screen-desktop) {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}

.product-of-the-week__inner {
  .container();
  position: relative;

  @media (min-width: @screen-desktop) {
    width: 875px;
    padding-left: 175px;
  }
}

.product-of-the-week__content-wrapper {
  position: relative;

  @media (min-width: @screen-tablet) {
    padding-right: 378px;
  }

  @media (min-width: @screen-desktop) {
    padding-right: 585px;
  }
}

.product-of-the-week__title {
  margin-top: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2em;
  color: @text-color--dark;

  @media (min-width: @screen-tablet) {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 1.163em;
  }

  @media (min-width: @screen-desktop) {
    margin-bottom: 50px;
    font-size: 53px;
    line-height: 1.075em;
    text-align: left;
  }
}

.product-of-the-week__marker {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 0.941em;
  color: @aqua;
  text-transform: uppercase;

  @media (min-width: @screen-tablet) {
    position: absolute;
    top: 15px;
    right: 60px;
    width: 80px;
  }

  @media (min-width: @screen-desktop) {
    left: 0;
  }
}

.product-of-the-week__description {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 1.6em;

  @media (min-width: @screen-tablet) {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 1.765;
  }

  @media (min-width: @screen-desktop) {
    margin-bottom: 45px;
  }
}

.product-of-the-week__table {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid @gray-93;
  }

  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @media (min-width: @screen-tablet) {
    margin-bottom: 53px;
  }

  @media (min-width: @screen-desktop) {
    margin-bottom: 110px;
  }
}

.product-of-the-week__table-parameter {
  width: 98px;
}

.product-of-the-week__product-image {
  margin-bottom: 25px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @media (min-width: @screen-tablet) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 333px;
    height: 404px;
    margin-bottom: 0;
  }

  @media (min-width: @screen-desktop) {
    z-index: -1;
    width: 525px;
    height: 636px;
  }
}

.product-of-the-week__product-price {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.411em;
  text-align: center;

  @media (min-width: @screen-tablet) {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1.2em;
  }
}
