.product-of-the-week {
  padding: 40px 0;
}

.product-of-the-week__inner {
  .container();
  outline: 2px dashed blue; // временно для удобства

  @media (min-width: @screen-desktop) {
    width: @screen-desktop - 275px;
    padding-left: 225px;
  }
}

.product-of-the-week__content-wrapper {
  position: relative;
  outline: 1px dashed green; // временно для удобства

  @media (min-width: @screen-tablet) {
    padding: 20px;
    padding-right: 380px;
    padding-bottom: 100px;
  }

  @media (min-width: @screen-desktop) {
    padding: 20px;
    padding-top: 100px;
    padding-right: 585px;
    padding-bottom: 100px;
  }
}

.product-of-the-week__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @text-color--dark;

  @media (min-width: @screen-desktop) {
    margin-bottom: 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.product-of-the-week__marker {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @aqua;
  text-transform: uppercase;
}

.product-of-the-week__product-image {
  display: block;
  width: 260px;
  height: 315px;

    @media (min-width: @screen-tablet) {
      position: absolute;
      top: 0;
      right: 0;
      width: 333px;
      height: 404px;
    }

    @media (min-width: @screen-desktop) {
      top: -100px;
      z-index: -1;
      width: 525px;
      height: 636px;
    }
}

.product-of-the-week__product-price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
