.reviews {
  background-color: white;
  //для наглядности, потом удалить!
  padding: 20px 0;
}

.reviews__inner {
  .inner();
}

.reviews__list {
  .style-reset();
}

.reviews__text {
  margin: 0;
}

.reviews__reviewer-name {
  font-size: 18px;
  line-height: 24px;
  color: @text-color--dark;
  font-weight: @font-weight--bold;
  font-style: normal;
}

.reviews__reviewer-id {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.reviews__list-item {

  &--hidden {
    display: none;
  }
}
