.reviews {
  padding: 20px 0;
}

.reviews__inner {
  .container();
  position: relative;
  outline: 2px dashed blue; // временно для удобства

  @media (min-width: @screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.reviews__title {

  @media (min-width: @screen-tablet) {
    order: -2;
  }
}

.reviews__list {
  .style-reset();
}

.reviews__text {
  margin: 0;
}

.reviews__reviewer-info {

  @media (min-width: @screen-tablet) {
    width: 350px;
  }
}

.reviews__reviewer-name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.333em;
  color: @text-color--dark;
  font-style: normal;
}

.reviews__reviewer-id {
  display: block;
  font-size: 18px;
  line-height: 1.666em;
  font-style: normal;
}

.reviews__write-review {

  @media (min-width: @screen-tablet) {
    order: -1;
    margin: 0;
  }
}

.reviews__list-item {

  &--hidden {
    display: none;
  }
}
