.slider-controls {
  display: flex;
  margin-bottom: 40px;

  @media (min-width: @screen-tablet) {
    position: absolute;
    right: 50px;
    bottom: 100px;
  }
}

.slider-controls__arrow {
  flex-grow: 1;
  width: 130px;
  min-height: 50px;
  background-color: @white;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid @gray-93;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover {
    background-color: @gray-93; //временно для удобства
    cursor: pointer;
  }
}
