.social {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid @gray-91;

  @media (min-width: @screen-tablet) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.social__title {
  .visually-hidden();
}

.social__list {
  .style-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__list-item {
  margin-right: 10px;
}
