.textarea-field {
  .style-reset();
  position: relative;
  padding: 20px 0;

  textarea {
    padding: 15px;
    font-size: 17px;
    line-height: 18px;
    border: 2px solid @gray-27;
    resize: none;
  }
}
