.user-block {
  .style-reset();
  @media (min-width: @screen-tablet) {
    display: flex;
  }
  @media (min-width: @screen-desktop) {
    order: 1;
  }
}

.user-block__cart {
  .inner();
  border-bottom: 1px solid #ececec;
  @media (min-width: @screen-tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}
.user-block__search {
  .inner();
  border-bottom: 1px solid #ececec;
  @media (min-width: @screen-tablet) {
    width: 85px;
    padding-left: 0;
    padding-right: 0;
  }
}

.user-block__cart-link {
  font-size: 17px;
  line-height: 24px;
  color: @text-color--dark;
  font-weight: @font-weight--bold;
  padding: 20px;
  display: block;
  text-align: center;
}
.user-block__search-link {
  font-size: 17px;
  line-height: 24px;
  color: @text-color--dark;
  font-weight: @font-weight--bold;
  padding: 20px;
  display: block;
  text-align: center;
}
