.user-block {
  .style-reset();

  @media (min-width: @screen-tablet) {
    display: flex;
  }

  @media (min-width: @screen-desktop) {
    order: 1;
  }
}

.user-block__cart {

  @media (min-width: @screen-tablet) {
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }
}

.user-block__search {

  @media (min-width: @screen-tablet) {
    width: 85px;
    padding-right: 0;
    padding-left: 0;
  }
}

.user-block__search-link {
  position: relative;
  display: block;
  padding: 26px 75px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.412em;
  color: @text-color--dark;
  border-bottom: 1px solid @gray-93;

  &::before {
    content: "";
    position: absolute;
    top: 50% - 9px;
    left: 30px;
    width: 18px;
    height: 18px;
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-image/icon_user-block_search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover::before {
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-image/icon_user-block_search--hover.svg");
  }

  &:active::before {
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-image/icon_user-block_search--active.svg");
  }

  @media (min-width: @screen-tablet) {
    padding: 30px 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    border-right: 1px solid @gray-93;
    border-bottom: none;
    border-left: 1px solid @gray-93;
  }
}

.user-block__cart-link {
  position: relative;
  display: block;
  padding: 28px 75px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.412em;
  color: @text-color--dark;
  border-bottom: 1px solid @gray-93;

  &::before {
    content: "";
    position: absolute;
    top: 50% - 9px;
    left: 30px;
    width: 18px;
    height: 18px;
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-image/icon_user-block_cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover::before {
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-image/icon_user-block_cart--hover.svg");
  }

  &:active::before {
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/data-image/icon_user-block_cart--active.svg");
  }

  @media (min-width: @screen-tablet) {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 80px;
    border-bottom: none;
  }
}
